

<div class="jumbotron">
  <div class="container">
		<div class="caption">
		<h3><b>PLANET</b><h3>
		</div>
		<p><b>Name:</b> <%= @planet.name %></p>
		<p><b>Diameter:</b> <%= @planet.diameter %></p>
		<p><b>Rotation Period:</b> <%= @planet.rotation_period %></p>
		<p><b>Orbital Period:</b> <%= @planet.orbital_period %></p>
		<p><b>Gravity:</b> <%= @planet.gravity %></p>
		<p><b>Population:</b> <%= @planet.population %></p>

		<p><b>Climates:</b> <% @planet.climates.each do |climate| %>
                          <%= climate %>.
                          <% end %></p>

		<p><b>Terrains:</b> <% @planet.terrains.each do |terrain| %>
                          <%= terrain %>.
                          <% end %></p>
		<p><b>Surface Water:</b> <%= @planet.surface_water %></p>

		<p><b>Residents:</b> <% @characters.each do |char| %>
					-<a href="/characters/<%= char.id%>"><%= char.name %></a>
						<% end %>
		</p>

		<p><b>Films:</b> <% @films.each do |film| %>
					-<a href="/films/<%= film.id%>"><%= film.title %></a>
						<% end %>
		</p>


  </div>
</div>
