




<div class="jumbotron">
  <div class="container">
    <div class="row">

	<% @films.each do |f| %>
				<% film_id = (f["url"].split("/")[-1]).to_i%>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <div class="caption">
        <h3><%= f["title"] %></h3>
		<p><b>Release Date:</b> <%= f["release_date"] %></p>
		<p><b>Episode ID:</b> <%= f[ "episode_id"] %> </p>
		<p><b>Director:</b> <%= f["director"] %> </p>
		<p><b>Producer:</b> <%= f["producer"] %> </p>
        <p><a href="/films/<%=film_id%>" class="btn btn-primary" role="button">More Info</a></p>
      </div>
    </div>
  </div>
		<% end %>


</div>
  </div>
</div>


