




<div class="jumbotron">
  <div class="container">
    <div class="row">

	<% @films.each do |film| %>
        <% film_id = (film.id)%>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <div class="caption">
        <h3><%= film.title %></h3>
		<p><b>Release Date:</b> <%= film.release_date %></p>
		<p><b>Episode ID:</b> <%= film.episode_id %> </p>
		<p><b>Director:</b> <%= film.director %> </p>
		<p><b>Producers:</b> <% film.producers.each do |producer| %>
                          <%= producer %>.
                          <% end %></p>
        <p><a href="/films/<%=film_id%>" class="btn btn-primary" role="button">More Info</a></p>
      </div>
    </div>
  </div>
		<% end %>


</div>
  </div>
</div>


