<!DOCTYPE html>
<html>
  <head>
    <title>Taller1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/films/">Star Wars Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/films/">Home <span class="sr-only">(current)</span></a>
      </li>
   

    </ul>
        <%= simple_form_for :search, url: searchs_path, method: "GET", html: { class: 'form-inline my-2 my-lg-0' } do |f| %>
        <%= f.input :search, label: false, input_html: {value: ""} %>   
        <%= f.submit "Search", class: "btn btn-outline-success btn-sm" %>
        <% end %>
  </div>
</nav>



    <%= yield %>
  </body>
</html>
